@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    --pink: #f9ceb7;
    --secondPink: #cc9d84;
}

* {
    box-sizing: border-box;
}

body {
    background: #fefefe;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 50px;
}

.container {
    width: 1200px;
    margin: 0 auto;
    max-width: 100%;
}

.container-small {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.container-small-link {
    text-decoration: none;
    color: inherit;
}

.container-small-link:hover {
    color: var(--secondPink);
}

h1 {
    text-align: center;
}

p {
    line-height: 1.5;
}

h2 {
    position: relative;
}

h2::after {
    content: '';
    background-color: #000;
    border-radius: 10px;
    position: absolute;
    bottom: -5px;
    left: 0;
    height: 4px;
    width: 60px;
}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}

ul li {
    background-color: #fff;
    box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.15);
    margin: 25px;
    width: 325px;
}

ul li a {
    color: #000;
    text-decoration: none;
}

ul li img {
    display: block;
    object-fit: cover;
    margin-bottom: 15px;
    transition: transform 0.3s ease;
    height: 200px;
    width: 325px;
}

ul li p {
    padding: 0 15px; 
}

.links-container {
    padding: 15px;
    margin-top: 20px;
}

.links-container a {
    color: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    text-decoration: none;
    margin-right: 5px;
    height: 35px;
    width: 35px;
    transition: transform 0.3s ease;
}

.links-container a.blue {
    background-color: var(--pink);
}

.links-container a:hover {
    transform: scale(1.2);
}

footer {
    background-color: #222;
    color: #fff;
    font-size: 14px;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 15px;
    width: 100%;
    text-align: center;
}

footer a {
    color: #fff;
}

footer i {
    color: red;
}